<h1>Jeff Pinegar </h1>
<em><h3>SQLAlchemy Challenge</h3></em>
Dec 7, 2022 <br>
jeffpinegar1@gmail.com <br>
717-982-0516 <br>

### Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt 
from scipy import stats
import os

In [2]:
# "tobs" is "temperature observations"
csv_file = os.path.join('.','Resources', 'hawaii_measurements.csv')
df = pd.read_csv(csv_file)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df = df.dropna(how='any')
df['month'] = pd.DatetimeIndex(df['date']).month
df.head()

       station        date  prcp  tobs  month
0  USC00519397  2010-01-01  0.08    65      1
1  USC00519397  2010-01-02  0.00    63      1
2  USC00519397  2010-01-03  0.00    74      1
3  USC00519397  2010-01-04  0.00    76      1
5  USC00519397  2010-01-07  0.06    70      1

In [4]:
# Set the date column as the DataFrame index
dfi = df.set_index('date')
dfi.sort_index(inplace = True, ascending=True)
dfi.head()

                station  prcp  tobs  month
date
2010-01-01  USC00519397  0.08    65      1
2010-01-01  USC00519523  0.15    75      1
2010-01-01  USC00513117  0.28    67      1
2010-01-01  USC00511918  0.05    66      1
2010-01-01  USC00516128  0.14    73      1

### Compare June and December data across all years

In [5]:
# Filter data for desired months
#a = oo_df.loc[(oo_df['Medal']=='Gold') & (oo_df['Gender']=='Women')
dfi=dfi.loc[(dfi['month']==6) | (dfi['month']==12)]
dfi.head(2)

                station  prcp  tobs  month
date
2010-06-01  USC00519523  0.03    76      6
2010-06-01  USC00519281  0.00    71      6

In [6]:
# Identify the average temperature for June and December
# Identify the average temperature for December

a = dfi.groupby(['month']).agg({'tobs' : ['min', 'max', 'mean']})
a.head()

      tobs
       min max       mean
month
6       65  85  74.887548
12      56  81  70.930249

In [7]:
# Create collections of temperature data
# col_list = df.Courses.values.tolist()
# oo_df.loc[oo_df['Athlete']== 'BOLT, Usain'] 
df6 = dfi.loc[dfi['month']==6]
t6_lst = df6['tobs'].values.tolist()


df12 = dfi.loc[dfi['month']==12]
t12_lst = df12['tobs'].values.tolist()
a6 = round(sum(t6_lst)/len(t6_lst),2)
a12 = round(sum(t12_lst)/len(t12_lst),2)

print(f' Average Temp in June: {a6}')
print(f' Average Temp in December: {a12}')

 Average Temp in June: 74.89
 Average Temp in December: 70.93

In [8]:
# Run paired t-test
# ttest_ind(a, b, equal_var=True)
t_test_result = stats.ttest_ind(t6_lst, t12_lst, equal_var=True )
print(t_test_result)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

the t-test was run assuming independent samples of equal variance.  
the results show that we should reject the null hypothesis of that the average temp is the same in June as it is in December.